# git
.gitignore

# pycharm
.idea

# kate
*.kate-swp
*~

# python
/__pycache__

# dev
dev
draggables.py+
draggables.*.py*
draggables.py.bak*
draggables.test.py

machinery.*.py
lines.*.py
errorbars.py.*
